[submodule "rnet-repl/RemoteNetRepl"]
	path = rnet-repl/RemoteNetRepl
	url = https://github.com/theXappy/RemoteNetRepl.git
[submodule "RemoteNET"]
	path = RemoteNET
	url = https://github.com/theXappy/RemoteNET
[submodule "conemu-inside-net8"]
	path = conemu-inside-net8
	url = https://github.com/theXappy/conemu-inside-net8.git
